<head>
    <% if (theme.customize.favicon) { %>
    <link rel="icon" href="<%- url_for(theme.customize.favicon) %>" />
    <% } %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <%
    const capitalize = (string) => {
        return string ? string.charAt(0).toUpperCase() + string.slice(1).toLowerCase() : '';
    };
        var title = page.title;
        if (is_archive()) {
            title = capitalize(__('menu.archives'));
        } else if (is_category()) {
            title = capitalize(__('menu.categories')) + ': ' + capitalize(page.category);
        } else if (is_tag()) {
            title = capitalize(__('menu.tags')) + ': #' + capitalize(page.tag);
        }
    -%>
    <%- open_graph({
        fb_app_id:      theme.miscellaneous.open_graph.fb_app_id,
        fb_admins:      theme.miscellaneous.open_graph.fb_admins,
        twitter_id:     theme.miscellaneous.open_graph.twitter_id,
        google_plus:    theme.miscellaneous.open_graph.google_plus,
    }) -%>
    <% if (theme.plugins.google_site_verification) { %>
    <meta name="google-site-verification" content="<%= theme.plugins.google_site_verification %>" />
    <% } %>
    <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
    <%- css('css/style') %>
    <% if (theme.plugins.fancybox.enable) { %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/<%= theme.plugins.fancybox.version || '3.5.7' %>/jquery.fancybox.min.css">
    <% } %>
        <script>
            "use strict";
            (function () {
                var themeKey = 'theme';
                if (window.matchMedia) {
                    var themeMedia = window.matchMedia("(prefers-color-scheme: dark)");
                    if (!window.localStorage.getItem(themeKey)) {
                        if (themeMedia.matches) {
                            window.localStorage.setItem(themeKey, 'dark');
                        } else {
                            window.localStorage.setItem(themeKey, 'light');
                        }
                    }
                    themeMedia.addEventListener('change', function (e) {
                        var html = document.querySelector('html');
                        if (e.matches) {
                            if (html && !html.classList.contains('dark')) {
                                html.classList.add('dark');
                            }
                            window.localStorage.setItem(themeKey, 'dark');
                        } else {
                            if (html && html.classList.contains('dark')) {
                                html.classList.remove('dark');
                            }
                            window.localStorage.setItem(themeKey, 'light');
                        }
                    });
                }
                if (window.localStorage.getItem(themeKey) === 'dark') {
                    document.querySelector('html').classList.add('dark');
                }

            })();
        </script>
</head>
