<head>
    <% if (theme.customize.favicon) { %>
    <link rel="icon" href="<%- url_for(theme.customize.favicon) %>" />
    <% } %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <%
        var title = page.title;
        if (is_archive()) {
            title = _.capitalize(__('menu.archives'));
        } else if (is_category()) {
            title = _.capitalize(__('menu.categories')) + ': ' + _.capitalize(page.category);
        } else if (is_tag()) {
            title = _.capitalize(__('menu.tags')) + ': #' + _.capitalize(page.tag);
        }
    -%>
    <%- open_graph({
        fb_app_id:      theme.miscellaneous.open_graph.fb_app_id,
        fb_admins:      theme.miscellaneous.open_graph.fb_admins,
        twitter_id:     theme.miscellaneous.open_graph.twitter_id,
        google_plus:    theme.miscellaneous.open_graph.google_plus,
    }) -%>
    <% if (theme.plugins.google_site_verification) { %>
    <meta name="google-site-verification" content="<%= theme.plugins.google_site_verification %>" />
    <% } %>
    <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
    <%- css('css/style') %>
    <% if (theme.plugins.fancybox.enable) { %>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/<%= theme.plugins.fancybox.version || '3.5.7' %>/jquery.fancybox.min.css">
    <% } %>
</head>
